html {
  overflow-y: scroll;
  overflow-x: auto;
 }

.header{
  position: fixed;
  z-index:2;
  width: 100%;
  border-bottom: solid 2px black;
  margin: 0;
  background-color: #ffffff;
}
.header-ttl{
  padding: 2px 5px;
}

.ccrs-body{
  position: relative;
  min-width: 100%;
  min-height: 100%;
  /* top:42px; */
}

.cnvs{
  position: relative;
  /* width: 70%; */
  margin: 0;
}

.cnvs-conts{
  height: 100%;
  width: 131.35%;
}

.preview{
  width: 100vw;
  min-height: 100%;
  bottom:0px; 
}

.toolbar-hidden-cb{
  position: fixed;
  z-index: 1;
  right: 0;
  top:0px;
}

.toolbar-area{
  top:0px;
  width: 30%;
  min-height: 100%;
  right: 0;
}

.toolbar{
  position: fixed;
  display: inline-block;
  width: 30%;
  min-height: 100%;
  right: 0;
  /* border-top: solid 2px black; */
  border-left: solid 2px black;
  background-color: white;
  top:0px;
}

.txtbox{
  width:40%;
  height:20px;
  font-size: 12px;
}

.create{
  padding: 5px;
  border-bottom: solid 2px black;
  background-color: white;
}

.edit{
  padding: 5px;
  border-bottom: solid 2px black;
  background-color: white;
}

.toolbar-ttl{
  text-align: center;
}

/* 選択されたら要素をハイライト */
input[name=racks_rb]:checked ~*{
    background: linear-gradient(transparent 80%, rgba(0,150,255,0.5) 80%);
}
input[name=Hidden_Toolbar]:checked + .toolbar-area{
  display: none;
}

